#add to ignore
.cache
.env
**/*env
*env
/tmp/requirements.txt
/app


# Common
README.md
CHANGELOG.md
compose.yml
Dockerfile.python


# git
.git
.gitattributes
.gitignore

#add dop 1
**/*.class
#add dop 2
*.md
!README*.md
.README-secret.md 
#add dop 3
.aws